body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #333;
    width: 300px;
    padding: 20px;
}

#display {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: right;
    color: #fff;
    background-color: #222;
    border: none;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #666;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.clear, .equal {
    background-color: #ff3333;
}

.operator {
    background-color: #ff9900;
}
